node_modules/
dist/
build/
.env
backend/.env
.DS_Store
coverage/
frontend/node_modules/
frontend/dist/
backend/node_modules/
backend/dist/
infra/.terraform/
*.log
backend.zip
frontend-package.zip
backend-deploy.zip
frontend-deploy.zip
frontend-logs*
.deploy/
